{% extends "common/profile/base_edit_profile.html" %}

<!-- Define the URL for the avatar -->
{% block avatar %}
    {% with avatar_url=user.avatar_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

<!-- Side pane for editing profile -->
{% block sidepane %}
    <h5 class="text-white">{{ user.full_name }}</h5>

    {% if user.is_staff %}
        <span class="badge badge-success">Administrator</span>
    {% endif %}

    {% if user.is_consultant %}
        <span class="badge badge-success">Consultant</span>
    {% endif %}
{% endblock %}

<!-- Form for editing profile -->
{% block profile-content %}
    <form method="post">
        {% csrf_token %}

        <h4 class="text-center text-white">User Information</h4>
        <hr>
        {% with user_form.username as field %}
        <div class="form-group">
            <label for="username_field">Username</label>
            <input type="text"
                    class="form-control bg-dark bd-green text-muted f-green"
                    value="{{ user.username }}"
                    readonly
            >
            <div class='invalid-feedback'>{{ field.errors }}</div>
        </div>
        {% endwith %}

        <div class="form-row">
            {% with user_form.first_name as field %}
            <div class="form-group col-md-6">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}"
                        class="form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"
                        id="{{ field.id_for_form }}"
                        name="{{ field.html_name }}"
                        value="{{ user.first_name }}"
                >
                <div class='invalid-feedback'>{{ field.errors }}</div>
            </div>
            {% endwith %}
            {% with user_form.last_name as field %}
            <div class="form-group col-md-6">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}"
                        class="form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"
                        id="{{ field.id_for_form }}"
                        name="{{ field.html_name }}"
                        value="{{ user.last_name }}"
                >
                <div class='invalid-feedback'>{{ field.errors }}</div>
            </div>
            {% endwith %}
        </div>
        {% with user_form.email as field %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}"
                    class="form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"
                    id="{{ field.id_for_form }}"
                    name="{{ field.html_name }}"
                    value="{{ user.email }}"
            >
            <div class='invalid-feedback'>{{ field.errors }}</div>
        </div>
        {% endwith %}
        {% with user_form.password as field %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}"
                    class="form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"
                    id="{{ field.id_for_form }}"
                    name="{{ field.html_name }}"
            >
            <div class='invalid-feedback'>{{ field.errors }}</div>
        </div>
        {% endwith %}
        {% with user_form.current_password as field %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}"
                    class="form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"
                    id="{{ field.id_for_form }}"
                    name="{{ field.html_name }}"
            >
            <div class='invalid-feedback'>{{ field.errors }}</div>
        </div>
        {% endwith %}

        {% if user.is_consultant %}
        <h5>Consultant information</h5>
        <hr>
        {% with consult_form.introduction as field %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <div class='invalid-feedback'>{{ field.errors }}</div>
        </div>
        {% endwith %}

        {{ consult_form.media }}
        {% with consult_form.services_offered as field %}
        {{ field }}
        {% endwith %}

        {% with consult_form.current_occupation as field %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}"
                    class="form-control {% if field.errors %}is-invalid{% endif %}"
                    id="{{ field.id_for_form }}"
                    name="{{ field.html_name }}"
                    value="{{ user.consultant.current_occupation }}"
            >
            <div class='invalid-feedback'>{{ field.errors }}</div>
        </div>
        {% endwith %}

        {% with consult_form.website as field %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}"
                    class="form-control {% if field.errors %}is-invalid{% endif %}"
                    id="{{ field.id_for_form }}"
                    name="{{ field.html_name }}"
                    value="{{ user.consultant.website }}"
            >
            <div class='invalid-feedback'>{{ field.errors }}</div>
        </div>
        {% endwith %}
        {% endif %}

        <div align="center">
            <button type="submit" class="btn btn-secondary b-green">Update</button>
        </div>
    </form>
{% endblock %}
