{% extends "common/profile/base_profile.html" %}

<!-- Define the avatar URL to use -->
{% block avatar %}
    {% with avatar_url=user.avatar_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

<!-- Side pane on the left -->
{% block sidepane %}
    <h4>{{ viewing.full_name }}</h4>

    {% if viewing.is_staff %}
        <span class="badge badge-primary">Administrator</span>
    {% endif %}
    {% if viewing.is_consultant %}
        <span class="badge badge-secondary">Consultant</span>
        <div>{{ viewing.consultant.current_occupation }}</div>
        <div><a href="#">{{ viewing.consultant.website }}</a></div>
    {% endif %}
    <br>

    {% if is_owner %}
        <a href="edit">Edit profile</a>
    {% endif %}
{% endblock %}

<!-- Profile information (body content of profile) -->
{% block profile-content %}
    {% if viewing.is_consultant %}
        <h5>Services offered</h5>
        <hr>
        <div>{{ viewing.consultant.services_offered }}</div><br />
        <h5>Area of expertise</h5>
        <hr>
        <div>
            Posuere dapibus suspendisse tincidunt tempus commodo mollis vehicula volutpat mattis vulputate lorem, tincidunt tortor turpis condimentum nisl odio taciti consectetur consequat turpis habitant, hendrerit ut pharetra habitant faucibus viverra curabitur massa leo consectetur.
        </div>
    {% else %}
        <h5>Bio</h5>
        <hr>
        <div>{{ viewing.bio }}</div>
    {% endif %}
{% endblock %}
