{% extends "common/profile/base_profile.html" %}


<!-- Define the avatar URL to use -->
{% block avatar %}
    {% with avatar_url=user.avatar_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

<!-- Side pane on the left -->
{% block sidepane %}
    <h4>{{ viewing.full_name }}</h4>

    {% if viewing.is_staff %}
        <span class="badge badge-primary">Administrator</span>
    {% endif %}
    {% if viewing.is_consultant %}
        <span class="badge badge-secondary">Consultant</span>
        <div>{{ viewing.consultant.current_occupation }}</div>
        <div><a href="#">{{ viewing.consultant.website }}</a></div>
    {% endif %}
    <br>

    {% if is_owner %}
        <a href="edit">Edit profile</a>
    {% endif %}

    <p class="small">
        Companies
    </p>

    {% for company in companies %}
        <a href="/company/{{company.name}}">
            <img class="card img-thumbnail" title="{{ company.name }}" style="height:82px;" src="{{ company.avatar_url }}" />
        </a>
    {% endfor %}

{% endblock %}

<!-- Profile information (body content of profile) -->
{% block profile-content %}
    {% if viewing.is_consultant %}
        <h5>Services offered</h5>
        <hr>
        <div>{{ viewing.consultant.services_offered | safe}}</div>
    {% else %}
    {% endif %}
{% endblock %}
