{% extends "common/profile/base_profile.html" %}


<!-- Define the avatar URL to use -->
{% block avatar %}
    {% with avatar_url=user.avatar_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

<!-- Side pane on the left -->
{% block sidepane %}
    <h5 class="text-muted">{{ viewing.full_name }}</h5>

    {% if viewing.is_staff %}
        <span class="badge badge-success">Administrator</span>
    {% endif %}
    {% if viewing.is_consultant %}
        <span class="badge badge-success">Consultant</span>
        <div class="text-muted">{{ viewing.consultant.current_occupation }}</div>
        <div><a href="{{ viewing.consultant.website }}">My Website</a></div>
    {% endif %}
    <br>

    {% if is_owner %}
        <a href="edit" class="text-muted">Edit profile</a>
    {% endif %}

    <p class="small text-muted">
        Companies
    </p>

    {% for company in companies %}
        <a href="/company/{{company.name}}">
            <img class="card img-thumbnail" title="{{ company.name }}" style="height:82px;" src="{{ company.avatar_url }}" />
        </a>
    {% endfor %}

{% endblock %}

<!-- Profile information (body content of profile) -->
{% block profile-content %}
    {% if viewing.is_consultant %}
        <h5 class="text-white">Introduction</h5>
        <hr>
        <div class="text-muted">{{ viewing.consultant.introduction }}</div>
        <h5 class="text-white">Services offered</h5>
        <hr>
        <div class="text-muted">{{ viewing.consultant.services_offered | safe}}</div>
    {% else %}
    {% endif %}
{% endblock %}
