{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Edit selected event
{% endblock %}

{% block content %}

<div class="container mt-5 p-3 bg-light rounded col-md-7">
    <form method="post">
        {% csrf_token %}
        <h5 class="text-center">Edit {{ event.title }}</h5>
        <div class="form-group d-flex justify-content-between">
            <label class="mt-1">Select group/company:</label>
            <div class="col-md-7 text-right">
                {% render_field form.entity class="form-control" %}
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <label class="mt-1">Event title:</label>
            <div class="col-md-7 text-right">
                {% render_field form.title class="form-control" placeholder=event.title %}
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <label class="mt-1">Date:</label>
            <div class="col-md-5 text-right">
                {% render_field form.date class="form-control" %}
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <label class="mt-1">Time:</label>
            <div class="col-md-5 text-right">
                {% render_field form.time class="form-control" %}
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <label class="mt-1">Address:</label>
            <div class="col-md-7 text-right">
                {% render_field form.location class="form-control" %}
            </div>
        </div>
        <div class="form-group">
            <label class="mt-1">Event description:</label>
            <div class="input-group">
                {% render_field form.description class="form-control" %}
            </div>
        </div>
        <input type="submit" class="btn btn-block bg-dark text-light" value="Save changes">
    </form>
</div>

{% endblock %}
