{% extends 'base.html' %}

{% block content %}

<div id="eventspage">
    <script>
        jQuery(function() {
            $("#rss-feeds").rss("https://techevents.nz/rss/all", {
                limit: 100,
                filter: function(entry, tokens) {
                    return tokens.title.indexOf('Palmerston') > -1
                },
                layoutTemplate: "<ul style='list-style:none;'>{entries}</ul>",
                entryTemplate: "<li><a href='{url}'>{title}</a><br/><p  style='word-wrap:normal;'>{body}</p></li>",
            })
        })
    </script>
    <div id="rss-feeds"></div>
</div>

{% endblock %}

