{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container" id="content-container">
    <div class="container col-md-5 bg-dark rounded mt-5 p-3 text-muted" id="login-form">
        <div class="">
            {% if next %}
            <h4 class="lead text-center p-2 mb-3 text-green">Please Login</h4>
            {% else %}
            <h4 class="lead text-center p-2 mb-3 text-green">Login to TechPalmy</h4>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                <!-- Login form -->
                {# Use built-in XSS protection. Important: use this for ONLY internal sites. #}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />

                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% render_field field class="form-control bg-dark bd-green text-muted f-green" %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">
                                {{ field.help_text }}
                            </small>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="text-center mt-2">
                    <a style="visibility:hidden" class="pull-left">Forgot Password</a>
                    <button type="submit" class="btn btn-secondary b-green" value="login">Login</button>
                    <a href="{% url 'contact' %}" class="pull-right my-auto pt-2" style="color:#39b54a">Forgot Password</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
