{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}" />
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
<div class="container" id="content-container">
    <div class="container col-md-8 bg-dark text-muted" id="signup-form">
        <h4 class="text-center text-green mb-3">Create your account</h4>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {% if field == form.captcha %}
                    <div class="mb-2" align="center">
                        {{ field }}
                    </div>
                {% else %}
                    {{ field.label_tag }}
                    {% render_field field class="form-control bg-dark bd-green text-muted f-green" %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                {% endif %}
            </div>
            {% endfor %}


            <div class="text-center">
                <button type="submit" id="form-submit" class="btn btn-secondary b-green" value="Submit">Register</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
