{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}" />
{% endblock %}

{% block content %}
<div class="container" id="content-container">
    <div class="container col-md-8" id="signup-form">
        <h2 class="text-center">Create your account</h2>
        <form method="post">
            {% csrf_token %}
            <table>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="{{form.first_name.id_for_label}}">{{form.first_name.label}}</label>
                        <input type="{{form.first_name.field.widget.input_type}}"
                               class="form-control {% if field.errors %}} is-invalid {% endif %}"
                               id="{{form.first_name.id_for_form}}"
                               name="{{form.first_name.html_name}}"
                               placeholder="First Name">
                        <div class='invalid-feedback'>{{field.errors}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        <input type="{{ field.field.widget.input_type }}"
                               class="form-control {% if field.errors %}} is-invalid {% endif %}"
                               id="{{field.id_for_form}}"
                               name="{{field.html_name}}" />
                        <div class='invalid-feedback'>{{field.errors}}</div>
                    </div>



                    <div class="form-group">
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        <input type="{{ field.field.widget.input_type }}"
                               class="form-control {% if field.errors %}} is-invalid {% endif %}"
                               id="{{field.id_for_form}}"
                               name="{{field.html_name}}" />
                        <div class='invalid-feedback'>{{field.errors}}</div>
                    </div>

            </table>
            <hr />
            <div class="text-center">
                <button type="submit" class="btn btn-outline-dark" value="Submit">Register</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
