{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Consultant Application
{% endblock %}

{% block content %}
<div id="application">
    <div class="container mt-5 p-3 bg-dark text-muted rounded col-md-9">
        <h3 class="text-white text-center p-2 mb-3 ">Consultant Application</h3>
        <form class="post-form" method="post">
            {% csrf_token %}
            {{ form.media }}
            <fieldset>
                <div class="form-row justify-content-between">
                    {% with form.area_of_expertise as field %}
                    <div class="col-md-5 form-group">
                            <label for="certification">Area of Expertise:</label>
                            {{field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                            <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                    {% with form.contact_phone as field %}
                    <div class="col-md-6 form-group">
                            <label for="certification">Phone No.:</label>
                            {{field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                            <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                </div>
                <div class="form-row justify-content-between">
                    {% with form.current_occupation as field %}
                    <div class="col-md-5 form-group">
                            <label for="website">Current Occupation:</label>
                            {{field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                            <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                    {% with form.contact_email as field %}
                    <div class="col-md-6 form-group">
                            <label for="certification">Business e-mail:</label>
                            {{field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                            <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                </div>
                <div class="form-row justify-content-between">
                    {% with form.website as field %}
                    <div class="form-group col-md-5">
                        <label for="introduction">Website:</label>
                            {{ field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}" }}
                        <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                </div>
                <div class="form-row justify-content-between">
                    {% with form.introduction as field %}
                    <div class="form-group col-md-12">
                        <label for="introduction">Introduction:</label>
                            {{ field | attr:"rows:3" | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}" }}
                        <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                </div>
                {% with form.services_offered as field %}
                <div class="form-group mb-4">
                    <label for="services_offered">Services offered:</label>
                    <div class="rounded" align="center">
                        {{ form.services_offered | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                    </div>
                    <div class='invalid-feedback'>{{ field.errors }}</div>
                </div>
                {% endwith %}
                {% with form.i_agree as field %}
                    <div class="form-group col-md-10 col-auto">
                        {{field | add_class:"form-check-input {% if field.errors %}is-invalid{% endif %}"}}
                        <label>I have read and agreed to the <a class="text-white" href="#">Terms & Conditions of Use</a></label>
                        <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                {% endwith %}
                <div class="col-md-12 d-flex justify-content-between">
                    <div class="col-md-3">
                        <a class="btn btn-danger b-red btn-block" href="/consultants">Back</a>
                    </div>
                    <div class="col-md-3">
                        <input class="btn btn-secondary b-green btn-block" type="submit" value="Submit">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
