{% extends 'common/listing/base_listing.html' %}

<!-- Search results -->
{% block results %}
    {% if consultants %}
        {% for c in consultants %}

        <a href="/user/{{ c.user.username }}/" class="nodecoration">
            <div class="container bg-dark rounded text-white">
                <div class="media pb-2 p-2">
                    <div class="my-2 mr-3 ml-0" style="width:80px; height: 80px;">
                        <img class="mr-2 rounded" src="{{ c.user.avatar_url }}" style="max-height:80px; max-width:80px" title="View profile" />
                    </div>
                    <div class="media-body mt-2">
                        <h5 class='mt-0'><a class="text-white" style="cursor: pointer;" href="/user/{{ c.user.username }}/">{{ c.user.username }}</a></h5>
                        <p class="text-muted" style="word-break: break-all;">{{ c.introduction|truncatechars:200 }}</p>
                    </div>
                </div>
            </div>
        </a>
        
        {% endfor %}
    {% else %}
    <p>No results matching the criteria found.</p>
    {% endif %}
{% endblock %}

<!-- Page numbering & links, positioned at the bottom-->
{% block pagination %}
    {% if consultants.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ consultants.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
    Page {{ consultants.number }} of {{ consultants.paginator.num_pages }}
    </span>

    {% if consultants.has_next %}
        <a href="?page={{ consultants.next_page_number }}">next</a>
        <a href="?page={{ consultants.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
{% endblock %}
