{% extends 'common/listing/base_listing.html' %}

<!-- Search results -->
{% block results %}
    {% if consultants %}
        {% for c in consultants %}

        <div class="media text-dark" id="consultantCard">
            <a href="/user/{{ c.user.username }}">
                <img src="{{c.user.avatar_url}}" id="consultantAvatar" class="align-self-center mr-3" style="border-radius:15px;max-height:160px; max-width:160px;">
            </a>
            <div class="media-body">
                <h5 class="mt-0">{{c.user.first_name}} {{c.user.last_name}}</h5>
                <h6>{{ c.area_of_expertise }}</h6>
                <p class="mb-0">{{ c.introduction }}</p>
            </div>
        </div>

        <br />
        {% endfor %}
    {% else %}
    <p>No results matching the criteria found.</p>
    {% endif %}
{% endblock %}

<!-- Page numbering & links, positioned at the bottom-->
{% block pagination %}
    {% if consultants.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ consultants.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
    Page {{ consultants.number }} of {{ consultants.paginator.num_pages }}
    </span>

    {% if consultants.has_next %}
        <a href="?page={{ consultants.next_page_number }}">next</a>
        <a href="?page={{ consultants.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
{% endblock %}