{% extends 'common/listing/base_listing.html' %}
{% load widget_tweaks %}

{% block title %}
    Business Listings
{% endblock %}

{% block sidepane %}
    {% if company %}
        <div class="row">
            <h5 class="col-12 m-1 mb-2 text-center text-muted"> My Companies</h5>
            <a class="col-12 mb-2 text-center" style="color:#39b54a" href="{% url 'entity:company_profile' company=company.name %}">{{ company.name }}</a>
        </div>
    {% endif %}
    <div class="row">
        <p class="col-12 mb-2 text-center text-muted">Want to create a company profile?</p>
        <a href="{% url 'entity:company_application' %}" class="col-3 mt-1 btn btn-secondary b-green rounded mx-auto">Apply</a>
    </div>
{% endblock %}

{% block search %}
<hr>
<form method="get" class="text-light">
    <div class="well">
        <div class="row mx-auto d-flex justify-content-between text-muted">
            <div class="form-group col-md-4 text-center">
                {{ filter.form.industry.label_tag }}
                {% render_field filter.form.industry class="form-control bg-dark bd-green text-muted f-green" %}
            </div>
            <div class="form-group col-md-4 text-center">
                {{ filter.form.type_of_business.label_tag }}
                {% render_field filter.form.type_of_business class="form-control bg-dark bd-green text-muted f-green" %}
            </div>
            <div class="form-group col-md-4 text-center">
                {{ filter.form.summer_students.label_tag }}
                {% render_field filter.form.summer_students class="form-control bg-dark bd-green text-muted f-green" %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="pull-left ml-1 mr-auto">
                <a class="btn btn-danger b-red" href=".">Reset</a>
            </div>
            <button class="btn btn-outline-secondary b-green text-light pull-right ml-auto mr-1" style="background-color:#39b54a" type="submit" value="Search">Search</button>

        </div>
    </div>
</form>
{% endblock %}

<!-- Search results -->
{% block results %}
    {% if companies %}
        {% for company in companies %}
        <div class="container bg-dark rounded my-3">
            <div class="media p-2 pb-4 pt-4">
                <img class="align-self-start mr-2 rounded" src="{{ company.avatar_url }}" height="128" width="128" alt="View profile" />

                <div class="media-body ml-2">
                    <h5 class="mt-0 "><a class="text-white" style="cursor: pointer;" href="{% url 'entity:company_profile' company=company.name %}">{{ company.name }}</a></h5>
                    <p class="text-muted">{{ company.introduction }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="container bg-dark rounded p-4 text-center">
        <h4 class="text-muted">Sorry, we couldn't find anything.</h4>
    </div>
    {% endif %}
{% endblock %}

{% block pagination %}
<div class="container bg-dark rounded">
    <div class="media p-2 mt-3">
        {% if companies.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ companies.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current text-muted">
            Page {{ companies.number }} of {{ companies.paginator.num_pages }}
        </span>

        {% if companies.has_next %}
        <a href="?page={{ companies.next_page_number }}">next</a>
        <a href="?page={{ companies.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
