{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'user/profile/css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'user/profile/css/guest_profile.css' %}" />

    <script src="{% static 'user/profile/js/profile_card.js' %}"></script> 
{% endblock %}
{% block content %}
<div class="container" id="content-container">
    <div class="row">
        <!-- Content header -->
        <div class="col-md-x" id="profile-banner">

            <!-- Profile picture -->
            <div class="media">
                    <div id="imageContainer" style="background-image:url('{{ viewing.avatar_url }}')">
                            <img src="{% static 'user/profile/avatarLens.png' %}" id="avatar" class="center-block">
                    </div>
            </div>

            <div id="banner">
                <h4>{{ viewing.full_name }}</h4>
                {% if viewing.is_staff %}
                <span class="badge badge-primary">Administrator</span>
                {% endif %}
                {% if viewing.is_consultant %}
                <span class="badge badge-secondary">Consultant</span>
                <div>{{ viewing.consultant.current_occupation }}</div>
                <div><a href="#">{{ viewing.consultant.website }}</a></div>
                {% endif %}
                <br>

                {% if is_owner %}<a href="edit">Edit profile</a>{% endif %}
            </div>
        </div>
        <!-- Edit profile information -->

        <div class="container col-md-8" id="profile-info">
            {% if viewing.is_consultant %}
                <h5>Services offered</h5>
                <hr>
                <div>{{ viewing.consultant.services_offered }}</div><br />
                <h5>Area of expertise</h5>
                <hr>
                <div>
                    Posuere dapibus suspendisse tincidunt tempus commodo mollis vehicula volutpat mattis vulputate lorem, tincidunt tortor turpis condimentum nisl odio taciti consectetur consequat turpis habitant, hendrerit ut pharetra habitant faucibus viverra curabitur massa leo consectetur.
                </div>
            {% else %}
                <h5>Bio</h5>
                <hr>
                <div>{{ viewing.bio }}</div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}
