#imageContainer {
    overflow: hidden;
}

div #profile-info {
    padding: 20px;
    background-color: white;
    border-radius: 7px;
}
div #additional-info {
    padding: 20px;
    background-color: white;
    border-radius: 7px;
    display: none;
}

div #profile-banner {
    border-radius:7px;
}

#content-container {
    margin-top:30px; 
    width:50%;
    border-radius:7px;
    min-width:800px;
}


