{% extends "common/profile/base_profile.html" %}
{% load static %}

<!-- Any extra scripts required -->
{% block head %}
    <script src="{% static 'entity/util.js' %}" type="text/javascript"></script>
    {{ block.super }}
{% endblock %}

<!-- Define what avatar to use -->
{% block avatar %}
    {% with avatar_url=company.avatar_url %}
{{ block.super }}
    {% endwith %}
{% endblock %}


<!-- Left sidepane of the profile below the avatar -->
{% block sidepane %}
    {% if is_editor %}
        <div>
            <span class="icon-green fa fa-fw fa-pencil pr-1"></span>
            <a href="edit" class="a-green">Edit profile</a>
        </div>
    {% endif %}
    <div class="pt-1">
        <span class="icon-green fa fa-fw fa-users pr-1"></span>
        <a href="#member-list" class="a-green" onclick="entity.get_members('#member_list .modal-body', '#member_template', './members/');"
            data-toggle="modal" data-target="#member_list"
        >Show members
        </a>
    </div>
    {% include 'members.html' %}
    <div class="pt-1">
        <span class="icon-green fa fa-fw fa-link pr-1"></span>
        <a href="{{ company.website }}" class="a-green">{{ company.website|truncatechars:20 }}</a>
    </div>
    <br/>
{% endblock %}

<!-- Profile content (right column) -->
{% block profile-content %}
<script>
    function toggleShow() {
        var x = document.getElementById("profile-info");
        var y = document.getElementById("additional-info")
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            y.style.display = "block";
            x.style.display = "none";
        }
    }
</script>
    <div class="d-flex justify-content-between bg-dark">
        <h3 class="mr-auto text-green">{{ company.name|title }}</h3>
        <button class="btn btn-outline-secondary" onclick="toggleShow()" style="width:65px">More</button>
    </div>
    <br />
    <div class="text-muted rich-text-content">{{ company.specialist_area|safe }}</div>
    <br />    
    <h5 class="text-white">Address:</h5>
    <div class="d-flex justify-content-center text-muted"><img class="rounded" src="https://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{lon}}&zoom=13&size=400x200&maptype=roadmap&markers=color:blue%7C{{lat}},{{lon}}&key=AIzaSyAJPJHn1PJcnB5sxRTfZp-V3m6wXWcLJWY" alt="Google Maps image of {{company.address}}"/></div>
    <div class="d-flex justify-content-center text-muted"><p>{{ company.address }}</p></div>


{% endblock %}


<!-- What shows when you click the 'more' button -->
{% block additional-info %}
    <div class="container col-md-8 text-muted bg-dark" id="additional-info">
        <div class="d-flex justify-content-between text-white">
            <h3 class="mr-auto text-white">{{ company.name|title }}</h3>
            <button class="btn btn-outline-secondary" onclick="toggleShow()" style="width:65px">Less</button>
        </div>
        <br />
        <h6 class="text-white">Company Size</h6>
        <div class="text-muted">{{ company.size }} members</div>
        <br />
        <h6 class="text-white">Industry</h6>
        <div class="text-muted">{{ company.industry|title }} / {{ company.type_of_business|title }}</div>
        <br />
        {% if company.summer_students %}
            <div>We are recruiting students over the summer!</div>
        {% endif %}
    </div>
{% endblock %}
