{% extends "common/profile/base_profile.html" %}

{% block avatar %}
    {% with avatar_url=company.avatar_url %}
{{ block.super }}
    {% endwith %}
{% endblock %}

{% block sidepane %}
<br />
<div class="col-md-2 bg-dark text-muted">
    <h6 class="text-white">Contact</h6>
    <div class="text-muted">{{ company.contact_phone }}</div>
    <div class="text-muted">{{ company.contact_email }}</div>
    <div class="text-muted"><a href="{{ company.website }}">{{ company.website }}</a></div>
</div>

    {% if is_owner %}
<a href="edit">Edit profile</a>
    {% endif %}
{% endblock %}

<!-- Edit profile information -->
{% block profile-content %}
<script>
    function toggleShow() {
        var x = document.getElementById("profile-info");
        var y = document.getElementById("additional-info")
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            y.style.display = "block";
            x.style.display = "none";
        }
    }
</script>
    <div class="d-flex justify-content-between bg-dark">
        <h3 class="mr-auto text-white">{{ company.name|title }}</h3>
        <button class="btn btn-outline-secondary" onclick="toggleShow()" style="width:65px">More</button>
    </div>
    <br />
    <div class="text-muted">{{ company.specialist_area|safe }}</div>
    <br />    
    <h5 class="text-white">Address:</h5>
    <div class="d-flex justify-content-center text-muted"><img class="rounded" src="https://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{lon}}&zoom=13&size=400x200&maptype=roadmap&markers=color:blue%7C{{lat}},{{lon}}&key=AIzaSyAJPJHn1PJcnB5sxRTfZp-V3m6wXWcLJWY" alt="Google Maps image of {{company.address}}"/></div>
    <div class="d-flex justify-content-center text-muted"><p>{{ company.address }}</p></div>


{% endblock %}

{% block additional-info %}
    <div class="container col-md-8 text-muted bg-dark" id="additional-info">
        <div class="d-flex justify-content-between text-white">
            <h3 class="mr-auto text-white">{{ company.name|title }}</h3>
            <button class="btn btn-outline-secondary" onclick="toggleShow()" style="width:65px">Less</button>
        </div>
        <br />
        <h6 class="text-white">Company Size</h6>
        <div class="text-muted">{{ company.size }} members</div>
        <br />
        <h6 class="text-white">Industry</h6>
        <div class="text-muted">{{ company.industry|title }} / {{ company.type_of_business|title }}</div>
        <br />
        {% if company.summer_students %}
            <div>We are recruiting students over the summer!</div>
        {% endif %}
    </div>
{% endblock %}
