.post-form label {
    clear: both;
    float: left;
    width: 30%;
    margin-bottom: 10px;
}

.post-form input, textarea {
    clear: right;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.post-form {
    width: 100%;
    overflow-y: scroll;
}

#id_area_of_expertise, #id_work_phone, #id_website {
    width: 70%;
    float: right;
}

#application, #comp_app {
    width: 60%;
    margin: 0 20%;
    margin-top: 1%;
    padding: 0 2%;
    background-color: rgb(0, 0, 0, 0.1);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px;
}

#comp_app input, select {
    width: 50%;
    float: right;
}

#comp_app label {
    width: 40%;
}

#comp_app input[type='checkbox'] {
    float: left;
    width: 20%;
}
