

.navbar {
    width: 100%;
    background-image: url("/static/images/footer_lodyas.png");
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#dddddd' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:active, .custom-toggler .navbar-toggler-icon:hover, .custom-toggler .navbar-toggler-icon:focus {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#f7bd2a' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav {
    float: none;
    margin: 0 30%;
    display: block;
    text-align: center;
    padding: 0;
    top: 0;
    left: 0;
    width: 30%;
}

nav li {
    height: 100%;
    display: inline-block;
    float: none;
    padding: 2% 0;
}

.navbar-brand {
    color: white;
    margin-left: 2%;
}

.nav-link {
    color: lightgrey;
}

.nav-link:focus, .nav-link:hover, .nav-link:active, .navbar-brand:focus, .navbar-brand:hover, .navbar-brand:active {
    color: #f7bd2a;
}

.breadcrumb {
    padding: 0;
    margin: 0;
    padding-left: 1%;
    height: 3%;
    background-color: rgba(0, 0, 0, 0.25);
}

.breadcrumb-item {
    padding: 0.5% 0;
    margin: 0;
    color: white;
}

.breadcrumb-item>a:hover, .breadcrumb-item>a:active, .breadcrumb-item>a:focus {
    color: darkblue;
}

h2, h5 {
    text-align: center;
}

#quicklinks {
    display: table;
	margin: 0 auto;
}

#quicklinks ul {
    float: none;
    list-style: none;
    display: inline;
    text-align: center;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
}

#quicklinks li {
    display: inline-block;
}

