@import "imports/mobile.css";
@import "imports/search.css";
@import "imports/appform.css";
@import "imports/nightmode.css";
@import "imports/slider.css";
@import "imports/events.css";


@font-face {
    font-family: "Pacifico";
    src: url("fonts/Pacifico-Regular.ttf");
}
@font-face {
    font-family: "Hyperspace-Bold";
    src: url("fonts/Hyperspace-Bold.otf");
}

    html, body {
    background-color: #e4ebf0;
    margin: 0;
    padding: 0;
    height: 100%;
}

#main {
    min-height: 100%;
    position: relative;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 80px;
}

#document-container {
    padding-bottom: 80px;
}

.center-me {
    margin: auto;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    min-height: 80px;
}

.fa-facebook, .fa-twitter, .fa-google, .fa-linkedin {
    padding: 10px 0;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 20px;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google:hover, .fa-linkedin:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3e454c;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #343a40;
    }
