@import "imports/mobile.css";
@import "imports/search.css";
@import "imports/appform.css";
@import "imports/nightmode.css";
@import "imports/slider.css";
@import "imports/events.css";


@font-face {
    font-family: "Pacifico";
    src: url("fonts/Pacifico-Regular.ttf");
}
@font-face {
    font-family: "Hyperspace-Bold";
    src: url("fonts/Hyperspace-Bold.otf");
}

    html, body {
    background-color: #e4ebf0;
    margin: 0;
    padding: 0;
    height: 100%;
}

#main {
    min-height: 100%;
    position: relative;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#document-container {
    padding-bottom:50px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    /* Set the fixed height of the footer here */
    min-height: 40px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3e454c;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #343a40;
    }
