@import "imports/mobile.css";
@import "imports/search.css";
@import "imports/appform.css";
@import "imports/nightmode.css";
@import "imports/slider.css";
@import "imports/events.css";


/* -------------------------------
    CKEditor: override defaults */
.cke_screen_reader_only{
    display: none;
}

.cke_chrome {
    border-color: #39B54A !important;
}

.cke_bottom {
    border-top: 0px solid #343A40 !important;
    background: #343A40 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.cke_path_item {
    display: none !important;
}
.cke_inner {
    width: 100% !important;
}

.django-ckeditor-widget {
    display: block !important;
}
/* -------------------------------*/

html, body {
    background-color: #2a2d2f;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden
}

#main {
    min-height: 100%;
    position: relative;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 80px;
}

#document-container {
    padding-bottom: 80px;
}

.center-me {
    margin: auto;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.fa-facebook, .fa-twitter, .fa-google, .fa-linkedin {
    padding: 10px 0;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 20px;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google:hover, .fa-linkedin:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.bd-green {
    border-color: #39b54a;
}
.f-green:focus {
    border-color: #39b54a;
    box-shadow: 0 0 0 0.2rem rgba(57,181,74, 0.2);
}

.b-green.btn-outline-secondary {
    color: white;
    border-color: #39b54a;
    background-color: rgba(0,0,0,0);
}

.b-green.btn-outline-secondary:hover {
    background-color: #39b54a;
    border-color: #39b54a;
}

.b-green.btn-outline-secondary:active {
    background-color: #39b54a !important;
    border-color: #39b54a !important;
    box-shadow: 0 0 0 0.2rem rgba(57,181,74, 0.2) !important;
}

.b-green.btn-outline-secondary:focus {
    border-color: #39b54a;
    box-shadow: 0 0 0 0.2rem rgba(57,181,74, 0.2);
}


.b-green.btn-secondary {
    color: white;
    border-color: #39b54a;
    background-color: #39b54a;
}

.b-green.btn-secondary:hover {
    background-color: #33a342;
    border-color: #39b54a;
}

.b-green.btn-secondary:active {
    background-color: #39b54a !important;
    border-color: #39b54a !important;
    box-shadow: 0 0 0 0.2rem rgba(57,181,74, 0.2) !important;
}

.b-green.btn-secondary:focus {
    border-color: #39b54a;
    box-shadow: 0 0 0 0.2rem rgba(57,181,74, 0.2);
}

.text-muted {
    color: #a2a9ae !important;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.nodecoration{
    text-decoration: none;
}
.nodecoration:hover {
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1d1f20;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3e454c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #49525a;
}

.dropdown-divider {
    border-top: 1px solid #23272a !important;
}

.alert{
    position:absolute;
    left: 40%;
    z-index:99;
}


@media (max-width: 1399.98px) {
    #sidepane{
        margin-left: 1rem !important;
    }
}
@media (max-width: 992px){
    #sidepane{
        display:none;
    }
}
