{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Group Application
{% endblock %}

{% block content %}
<div class="container mt-5 p-4 bg-dark text-muted rounded col-md-9">
    <form id="group_form" method="post">
        {% csrf_token %}
        {{ form.media }}
        <h3 class="text-white text-center">Create Interest Group</h3>
        <br />
        <div class="form-group d-flex justify-content-between">
            <label class="mt-1">Group Name:</label>
            <div class="col-md-8 text-right">
                {% render_field form.name class="form-control bg-dark bd-green text-muted f-green" %}
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <label class="mt-1">Introduction:</label>
            <div class="col-md-8 text-right">
                {% render_field form.introduction class="form-control bg-dark bd-green text-muted f-green" %}
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <label class="mt-1">Website:</label>
            <div class="col-md-8 text-right">
                {% render_field form.website class="form-control bg-dark bd-green text-muted f-green" %}
            </div>
        </div>
        {% with form.description as field %}
        <div class="form-group">
            <label for="description">Description:</label>
            <div class="rounded" align="center">
                {{ form.description }}
            </div>
            <div class='invalid-feedback'>{{ field.errors }}</div>
        </div>
        {% endwith %}
        <div align="center">
            <input class="btn btn-secondary b-green" type="submit" value="Submit">

        </div>
    </form>
</div>
{% endblock %}
