{% extends "common/profile/base_profile.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'entity/util.js' %}" type="text/javascript"></script>
    {{ block.super }}
{% endblock %}

{% block avatar %}
    {% with avatar_url=group.avatar_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block sidepane %}
    {% if is_editor %}
        <a class="btn btn-dark btn-block mt-2" role="button" href="edit">Edit profile</a>
    {% endif %}
    <div id="members">
        <!-- This template is used to format individual members -->
        <script id="member_template" type="text/template">
            <li class="list-group-item container">
                <div class="row">
                    <img class='member_avatar rounded' height=32 width=32/>
                    <span class='member_username col-sm-5'></span>
                    <span class='member_role col-sm-3'></span>
                
                    {% if is_editor %}
                        <span class="delete_button_editor col-sm-3"></span>
                    {% endif %}
                </div>
            </li>
        </script>

        <!-- Modal used to show members -->
        <div id="member_list" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="members_modal_title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="members_modal_title">Members</h5>
                        <span class="close" aria-label="Close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </span>
                    </div>

                    <div class="modal-body">
                        <!-- members will be attached here -->
                    </div>

                    <div class="modal-footer">
                        {% if is_editor %}
                        <div class="container">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Username</span>    
                                </div>
                                <input type="text" class="form-control">
                                <div class="input-group-prepend input-group-btn">
                                    <button type="submit" class="btn btn-success rounded-right">Add</button>
                                </div>
                                
                            </div>  
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <a href="#" onclick="entity.get_members('#member_list .modal-body', '#member_template');" 
            data-toggle="modal" data-target="#member_list"
        >Show members
        </a>

    </div>
{% endblock %}

{% block profile-content %}
    <div class="d-flex justify-content-between">
        <h3 class="mr-auto">{{ group.name|title }}</h3>
    </div>
    <div class="d-flex justify-content-between">
        <p class="text-justify" style="word-break: break-all;" >{{ group.description }}</p>
    </div>
    <a href="https://{{ group.website }}/">Learn more here.</a>
    <hr>
    <div class="d-flex justify-content-between">
        <h5>Events associated with this group:</h5>

    </div>

{% endblock %}
