{% extends "common/profile/base_profile.html" %}


<!-- Define the avatar URL to use -->
{% block avatar %}
    {% with avatar_url=viewing.avatar_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

<!-- Side content (left column) -->
{% block sidepane %}

    <!-- Badges -->
    {% if viewing.is_staff %}
        <span class="badge badge-success">Administrator</span>
    {% endif %}
    {% if viewing.is_consultant %}
        <span class="badge badge-success mb-2">Consultant</span>
    {% endif %}
    
    <!-- Edit profile link -->
    {% if is_owner %}
    <div class="pt-1">
        <i class="icon-green fa fa-fw fa-pencil pr-1"></i>
        <a href="edit" class="a-green">Edit profile</a>
    </div>
    {% endif %}

    <!-- Contact info -->
    {% if viewing.is_consultant %}
        <div>
            <i class="icon-green fa fa-fw fa-link pr-1"></i>
            <a href="{{ viewing.consultant.website }}" class="a-green">{{ viewing.consultant.website|truncatechars:20}}</a>
        </div>
    {% endif %}

{% endblock %}

<!-- Body content (right column) -->
{% block profile-content %}

    <!-- Title & current occupation -->
    <div class="mb-3">
        <span class="title"><h4 class="lead text-green mb-0">{{ viewing.get_full_name }}</h4></span>
        {% if viewing.is_consultant %}
        <span class="text-muted small">{{ viewing.consultant.current_occupation }}</span>
        {% endif %}
    </div>

    <!-- Summary & description-->
    {% if viewing.is_consultant %}
        <div class="text-muted mb-4">
            <div class="lead">Summary</div>
            <div class="p-2">
                {{ viewing.consultant.introduction }}
            </div>
        </div>
        <div class="text-muted">
            <div class="lead">Description</div>
            <div class="p-2 rich-text-content">
                {{ viewing.consultant.services_offered | safe}}
            </div>
        </div>
    {% endif %}
    
{% endblock %}
