{% extends 'base.html' %}

{% block content %}

<div id="comp_app">
    <form class="post-form" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="{{form.name.name}}">Company name:</label>
            {{form.name}}
            <label for="{{form.address.name}}">Street address:</label>
            {{form.address}}
            <label for="{{form.contact_phone.name}}">{{form.contact_phone.label}}:</label>
            {{form.contact_phone}}
            <label for="{{form.contact_email.name}}">{{form.contact_email.label}}:</label>
            {{form.contact_email}}
            <label for="{{form.ird_no.name}}">IRD no.:</label>
            {{form.ird_no}}
        </fieldset>
        <hr>
        <fieldset>
            <label for="{{form.type_of_business.name}}">{{form.type_of_business.label}}:</label>
            {{form.type_of_business}}
            <label for="{{form.industry.name}}">{{form.industry.label}}:</label>
            {{form.industry}}
            <label for="{{form.specialist_area.name}}">{{form.specialist_area.label}}:</label>
            {{form.specialist_area}}
            <label for="{{form.size.name}}">{{form.size.label}}:</label>
            {{form.size}}
            <label for="{{form.summer_students.name}}">Does your company employ students for summer work?</label>
            {{form.summer_students}}
        </fieldset>
    </form>
</div>

{% endblock %}
