{% extends 'base.html' %}

{% block content %}

<div id="comp_app">
    <form class="post-form" method="post">
        <fieldset>
            <label for="comp_size">No. of employees:</label>
            <input name="comp_size" type="number" required>
            <label for="comp_industry">Industry:</label>
            <select name="comp_industry" required>
                <option value="primary">Primary</option>
                <option value="secondary">Secondary</option>
                <option value="tertiary">Tertiary</option>
            </select>
            <label for="expert">Specialty:</label>
            <input name="expert" type="text" required>
            <label for="phone">Contact phone no.:</label>
            <input name="phone" type="text" maxlength="13" required>
            <label for="comp_email">Contact e-mail:</label>
            <input name="comp_email" type="email" required>
            <label for="website">Company website URL:</label>
            <input name="website" type="text" required>
            <label for="comp_type">Business type:</label>
            <select name="comp_type" required>
                <option value="service">Service</option>
                <option value="merchant">Merchandising</option>
                <option value="manu">Manufacturing</option>
                <option value="hybrid">Hybrid</option>
            </select>
            <label for="address">Postal address:</label>
            <input name="address" type="text" required>
            <label for="summer_students">Do you provide jobs for summer students? (if yes, check)</label>
            <input name="summer_students" type="checkbox" required>
        </fieldset>
    </form>
</div>

{% endblock %}
