
#imageContainer:hover {
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    -o-filter: brightness(80%);
    -ms-filter: brightness(80%);
    filter: brightness(80%);
    background-color: rgba(0,0,0,0.3);
}

#imageContainer:hover > .btn, #avatarEditBtn:hover {
    display: inline-block;
}

