{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/consultant.css' %}" />
{% endblock %}

{% block content %}

<!--The variables used in the for loops and if statements can be renamed to whatever.
Just make sure they're consistent over all files!-->

<div class="container mt-4">
    <h3 class="title">
        {% block title %}
        {% endblock %}
    </h3>
</div>

<br />
<div class="container row">
    <div class="align-content-center flex-column px-2" >
        <form action="" method="get">
            <p class="small p-0 mb-0">Looking for a company?</p>
            <div class="input-group" id="searchBar"> <!-- Should be class rather than ID -->
                <input type="text" class="form-control"  placeholder="Search" name="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary " type="submit" value="Search">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <input class="form-check-input ml-1" type="checkbox" value="" id="studentWork">
            <label class="form-check-label ml-4" for="studentWork">
                Summer work
            </label>
            <br>
            <input class="form-check-input ml-1" type="checkbox" value="" id="something">
            <label class="form-check-label ml-4" for="something">
                Something
            </label>
            <br>
            <a href="." class="">Reset</a>
        </form>
    </div>


    <div class="col-lg-9 px-10">
        <div class="container-fluid" id="results">
            {% block results %}

            {% endblock %}
        </div>

        <span class="step-links">
            {% block pagination %}

            {% endblock %}

        </span>
        <br />
    </div>
</div>

{% endblock %}
