{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}" />

    <script src="{% static 'js/profile_card.js' %}"></script> 

{% endblock %}
{% block content %}
<div class="container" id="content-container">
    <div class="row">
        <!-- Content header -->
        <div class="col-md-3" id="profile-banner">

            <!-- Profile picture -->
            <div class="media" >
                <form id="avatar_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% block avatar %}
                        {% with avatar_form.avatar as field %}
                            <input type="file" id="upload_avatar" name="{{ field.html_name }}" style='display:none;'>
                            <div id="imageContainer" style="height:16vh; width:16vh" class="bg-dark rounded">
                                <img src="{{ avatar_url }}" style="height:16vh; width:16vh; border-radius:7px" id="avatar" class="">
                            </div>
                        {% endwith %}
                    {% endblock %}
                </form>
            </div>

            <div id="banner">
                {% block sidepane %}
                {% endblock %}
            </div>
        </div>
        <!-- Edit profile information -->

        <div class="container col-md-9 bg-dark text-muted" id="profile-info">
            {% block profile-content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
