{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/view_profile.css' %}" />

    <script src="{% static 'js/profile_card.js' %}"></script> 
{% endblock %}
{% block content %}
    <div class="container" id="content-container">
        <div class="row">
            <!-- Content header -->
            <div class="col-md-x" id="profile-banner">

                <!-- Profile picture -->
                <div class="media">
                    {% block avatar %}
                        <div id="imageContainer" style="background-image:url('{{ avatar_url }}')">
                                <img src="{% static 'avatarLens.png' %}" id="avatar" class="center-block">
                        </div>
                    {% endblock %}
                    
                </div>

                <!-- sidepane content -->
                <div id="banner">
                    {% block sidepane %}
                    {% endblock %}
                </div>
            </div>

            <div class="container col-md-8" id="profile-info">
                {% block profile-content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}