{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/view_profile.css' %}" />

    <script src="{% static 'js/profile_card.js' %}"></script> 
    {{ block.super }}

{% endblock %}
{% block content %}
    <div class="container" id="content-container">
        <div class="row bg-dark rounded mr-0">
            
            <!-- Sidepane content (left column) -->
            <div class="col-md-x" id="profile-banner">

                <!-- Profile picture -->
                <div class="media p-2">
                    {% block avatar %}
                    <div id="imageContainer">
                        <img src="{{ avatar_url }}" id="avatar" class="center-block rounded m-2">
                    </div>
                    {% endblock %}

                </div>

                <!-- extra content -->
                <div class="p-3 mb-3" id="banner">
                    {% block sidepane %}
                    {% endblock %}
                </div>
            </div>

            <!-- profile content (right column)-->
            <div class="col-8 bg-dark" id="profile-info">
                {% block profile-content %}
                {% endblock %}
            </div>

            {% block additional-info %}
            {% endblock %}
        </div>
    </div>
{% endblock %}