{% extends 'common/listing/base_listing.html' %}

{% block title %}
    Business Listings
{% endblock %}

{% block sidepane %}
{{ company.name }}
<div class="row">
    <h5 class="col-12 m-1 mb-2 text-center text-muted"> My Companies</h5>
    <p class="col-12 small mb-2 text-center text-muted">Company 1 Link</p>
    <p class="col-12 small mb-2 text-center text-muted">Company 2 Link</p>
    <p class="col-12 small mb-2 text-center text-muted">Company 3 Link</p>
    <p class="col-12 small mb-2 text-center text-muted">Company 4 Link</p>
    <p class="col-12 small mb-2 text-center text-muted">Company 5 Link</p>
    <p class="col-12 small mb-4 text-center text-muted">Company 6 Link</p>
</div>
<div class="row">
    <p class="col-12 mb-2 text-center text-muted">Want to create a company profile?</p>
    <a href="/company/apply" class="col-3 btn btn-secondary b-green btn-sm rounded mx-auto">Apply</a>
</div>

{% endblock %}

<!-- Search results -->
{% block results %}
    {% if companies %}
    {% for company in companies %}
<div class="container bg-dark rounded my-3">
    <div class="media p-2 pb-4 pt-4">
        <img class="align-self-start mr-2 rounded" src="{{ company.avatar_url }}" height="128" width="128" alt="View profile" />

        <div class="media-body ml-2">
            <h5 class="mt-0 "><a class="text-white" style="cursor: pointer;" href="/company/{{ company.name }}/">{{ company.name }}</a></h5>
            <p class="text-muted">{{ company.introduction }}</p>
        </div>
    </div>
</div>
    {% endfor %}
    {% else %}
<div class="container bg-dark rounded p-4 text-center">
    <h4 class="text-muted">Sorry, we couldn't find anything.</h4>
</div>
    {% endif %}
{% endblock %}

{% block pagination %}
<div class="container bg-dark rounded">
    <div class="media p-2 mt-3">
        {% if companies.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ companies.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current text-muted">
            Page {{ companies.number }} of {{ companies.paginator.num_pages }}
        </span>

        {% if companies.has_next %}
        <a href="?page={{ companies.next_page_number }}">next</a>
        <a href="?page={{ companies.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
