{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container " id="form_container">
    <div id="comp_app" class="container mt-5 p-3 bg-dark text-muted rounded col-md-9">
        <h3 class="text-green mb-3 text-center">Company Application</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.media }}
            <fieldset>
                <h5 class="lead text-green mb-3">General Details</h5>
                <div class="form-row justify-content-between">
                    {% with form.name as field %}
                    <div class="form-group col-md-5">
                        <label for="name">Company Name:</label>
                        {{field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                        <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                    {% with form.address as field %}
                    <div class="form-group col-md-6">
                        <label for="address">Postal address:</label>
                        {{field | add_class:"form-control mb-1 bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                        <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                </div>
            </fieldset>
            <hr>
            <fieldset>
                <h5 class="lead text-green mb-3">Company Details</h5>
                <div class="form-row justify-content-between">
                    <div class="form-group col-md-5">
                        {% with form.contact_email as field %}
                            <label for="email">Business e-mail:</label>
                            {{field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                           <div class='invalid-feedback'>{{ field.errors }}</div>
                        {% endwith %}
                    </div>
                    <div class="form-group col-md-6">
                        {% with form.website as field %}
                            <label for="website">Website:</label>
                            {{field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                        {% endwith %}
                    </div>
                </div>
                <div class="form-row justify-content-between align-items-center">
                    {% with form.contact_phone as field %}
                    <div class="form-group col-md-5">
                        <label for="phone">Phone number:</label>
                        {{field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                        <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                </div>
                <div class="form-row justify-content-between">
                    {% with form.size as field %}
                    <div class="form-group col-md-3 col-auto">
                        <label for="size">No. of employees:</label>
                        {{field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                        <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                    {% with form.type_of_business as field %}
                        <div class="form-group col-md-4">
                        <label for="size">Business model:</label>
                        {{field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                        <div class='invalid-feedback'>{{ field.errors }}</div>
                        </div>
                    {% endwith %}
                    {% with form.industry as field %}
                        <div class="form-group col-md-4">
                        <label for="industry">Industry:</label>
                        {{field | add_class:"form-control bg-dark bd-green text-muted f-green {% if field.errors %}is-invalid{% endif %}"}}
                        <div class='invalid-feedback'>{{ field.errors }}</div>
                        </div>
                    {% endwith %}
                </div>
                {% with form.introduction as field %}
                <div class="form-group">
                    <label for="introduction">Short Description:</label>
                    {{ field | attr:"rows:3" | add_class:"form-control bg-dark bd-green text-muted f-green tbox {%if field.errors%}is-invalid{%endif%}" }}
                    <div class='invalid-feedback'>{{ field.errors }}</div>
                </div>
                {% endwith %}
                {% with form.specialist_area as field %}
                <div class="form-group">
                    <label for="specialist_area">Specialist area:</label>
                    <div class="rounded" align="center">
                        {{ form.specialist_area }}
                    </div>
                    <div class='invalid-feedback'>{{ field.errors }}</div>
                </div>
                {% endwith %}
                <div class="col-md-10">
                    {% with form.summer_students as field %}
                    <div class="form-group col-md-8 col-auto">
                        {{field | add_class:"form-check-input {% if field.errors %}is-invalid{% endif %}"}}
                        <label for="summer_students">Do you employ summer students?</label>
                        <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                    {% with form.i_agree as field %}
                    <div class="form-group col-md-10 col-auto">
                        {{field | add_class:"form-check-input {% if field.errors %}is-invalid{% endif %}"}}
                        <label>I have read and agreed to the <a class="text-white" href="#">Terms & Conditions of Use</a></label>
                        <div class='invalid-feedback'>{{ field.errors }}</div>
                    </div>
                    {% endwith %}
                </div>
            </fieldset>
            <div class="col-md-12 d-flex justify-content-between">
                <div class="col-md-3">
                    <a class="btn btn-danger b-red btn-block" href="{% url 'entity:company_listing' %}">Back</a>
                </div>
                <div class="col-md-3">
                    <input class="btn btn-secondary b-green btn-block" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
