{% extends 'base.html' %}

{% block content %}

<!--The variables used in the for loops and if statements can be renamed to whatever.
Just make sure they're consistent over all files!-->

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Consultants</li>
</ol>

<div id="search_form">
    <h5>Filter listing by keyword(s)</h5>
    <form action="" method="get">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
    </form>
    <!--A/N: Room for improvement here - filter by area of expertise?-->
    <!--Mobile view will be done tomorrow afternoon-->
</div>

<div class="search_results">
    <h4>Heading here?</h4>
    {% if consultants %}
        <ul id="results">
            {% for c in consultants %}
                <li>{{ c.area_of_expertise }} ({{ c.services_offered }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results matching the criteria found.</p>
    {% endif %}

    <span class="step-links">
        {% if consultants.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ consultants.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ consultants.number }} of {{ consultants.paginator.num_pages }}
        </span>

        {% if consultants.has_next %}
            <a href="?page={{ consultants.next_page_number }}">next</a>
            <a href="?page={{ consultants.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    <br/>
    <!--A/N: Search results can be prettier and more detailed, but I couldn't be bothered writing blurbs or adding profile images :) The functionality is all there, at any rate.-->
</div>

{% endblock %}
