{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/view_profile.css' %}" />

<script src="{% static 'js/profile_card.js' %}"></script>
{{ block.super }}

{% endblock %}
{% block content %}
<div class="container" id="content-container">
    <div class="row">
        <!-- Content header -->
        <div class="col-md-x" id="profile-banner">
            <!-- sidepane content -->
            <div id="banner">
                <br />

                <p>
                    TODO: Sidepane info
                    eg:
                    Company: {{ job.company.name }}
                </p>
                <br />
            </div>
        </div>
        <!-- Body -->
        <div style="word-wrap: break-word" class="container col-12" id="profile-info">
            <h4>{{ job.title }}</h4>
            <br />
            <p>{{ job.description }}</p>
            <br />
            <p><strong>SIDEBAR: </strong>View the full listing <strong><a href="{{ job.external_link }}">Here</a></strong></p>
        </div>
    </div>
</div>
{% endblock %}